[Desktop Entry]
Type=Application
Version=1.0
Name=Cura
Icon=cura.png
Exec=/usr/bin/python /usr/share/cura/cura.py
Path=/usr/share/cura/
StartupNotify=true
Terminal=false
Categories=3DPrinting;

